# Build subdirectories.
/*build*
!/build_msvc

*.pyc

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch
!contrib/devtools/simplicity-current-bmm-parent-mtp-*.patch

/CMakeUserPresets.json
# Merge script log
/merge.log

# Test cache
/test/cache/
/test/config.ini

# Previous releases
/releases

#build tests
test/lint/test_runner/target/

/guix-build-*

tests/e2e-liquid-*.log
tests/liquid-side-state.json

/ci/scratch/
